body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.name-highlight{
    color: goldenrod;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
  height: 500px;  
}
.anchor{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, tomato, hsl(39, 100%, 50%));
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
}
a:hover{
    color: blueviolet;
    background-image: linear-gradient(45deg,aqua, rgb(0, 162, 255));
    font-weight: 700;
}
.middle{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.bottom{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 60%;
    background-color: white;
}
#full{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, #0cbb0c, aqua);
    border-image-slice: 1;
}
#baby{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, #c92727, #c48322);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 15px;
}